In [13]:
"""
!apt-get install -y libodbc1
!apt install unixodbc
!apt install unixodbc-dev
!curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -
!curl https://packages.microsoft.com/config/ubuntu/16.04/prod.list > /etc/apt/sources.list.d/mssql-release.list
!apt-get update
!ACCEPT_EULA=Y apt-get -q -y install msodbcsql17

!pip install pyodbc
"""
import pyodbc

server = 'jacobiano.database.windows.net'
database = 'DB_SQL_GAMMA'
username = 'tiago'
password = ''
driver= '{ODBC Driver 17 for SQL Server}'
connString = 'DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password
print(connString)

def execSQL(sql : str):
    cursor.execute(sql)
    insertObject = []
    columnNames = [column[0] for column in cursor.description]       
    for record in cursor.fetchall():
        insertObject.append( dict( zip( columnNames , record ) ) )

    return insertObject    

with pyodbc.connect(connString) as conn:
    with conn.cursor() as cursor:

        insertObject = execSQL("SELECT * FROM UF")
        
for row in range(len(insertObject)):
    #print(insertObject[row])
    print(insertObject[row]['ID'], insertObject[row]['NOME'], insertObject[row]['SIGLA'])

DRIVER={ODBC Driver 17 for SQL Server};SERVER=jacobiano.database.windows.net;PORT=1433;DATABASE=DB_SQL_GAMMA;UID=tiago;PWD=251x2mdlltfd@
11 Rondônia RO
12 Acre AC
13 Amazonas AM
14 Roraima RR
15 Pará PA
16 Amapá AP
17 Tocantins TO
21 Maranhão MA
22 Piauí PI
23 Ceará CE
24 Rio Grande do Norte RN
25 Paraíba PB
26 Pernambuco PE
27 Alagoas AL
28 Sergipe SE
29 Bahia BA
31 Minas Gerais MG
32 Espírito Santo ES
33 Rio de Janeiro RJ
35 São Paulo SP
41 Paraná PR
42 Santa Catarina SC
43 Rio Grande do Sul RS
50 Mato Grosso do Sul MS
51 Mato Grosso MT
52 Goiás GO
53 Distrito Federal DF